<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>ControladoresAltasBajas.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEntidades</servlet-name>
        <servlet-class>ControladoresAltasBajas.ControladorEntidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSucursales</servlet-name>
        <servlet-class>ControladoresAltasBajas.ControladorSucursales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorContratos</servlet-name>
        <servlet-class>ControladoresAltasBajas.ControladorContratos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDetenidos</servlet-name>
        <servlet-class>ControladoresAltasBajas.ControladorDetenidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorJueces</servlet-name>
        <servlet-class>ControladoresAltasBajas.ControladorJueces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCasos</servlet-name>
        <servlet-class>ControladoresAltasBajas.ControladorCasos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificaciones</servlet-name>
        <servlet-class>ControladoresModificaciones.ControladorModificacionesEntidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificacionesSucursales</servlet-name>
        <servlet-class>ControladoresModificaciones.ControladorModificacionesSucursales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificacionesContratos</servlet-name>
        <servlet-class>ControladoresModificaciones.ControladorModificacionesContratos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificacionesDetenidos</servlet-name>
        <servlet-class>ControladoresModificaciones.ControladorModificacionesDetenidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificacionesJueces</servlet-name>
        <servlet-class>ControladoresModificaciones.ControladorModificacionesJueces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificacionesCasos</servlet-name>
        <servlet-class>ControladoresModificaciones.ControladorModificacionesCasos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>ControladoresAltasBajas.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificacionesUsuarios</servlet-name>
        <servlet-class>ControladoresModificaciones.ControladorModificacionesUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEntidades</servlet-name>
        <url-pattern>/ControladorEntidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSucursales</servlet-name>
        <url-pattern>/ControladorSucursales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorContratos</servlet-name>
        <url-pattern>/ControladorContratos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDetenidos</servlet-name>
        <url-pattern>/ControladorDetenidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorJueces</servlet-name>
        <url-pattern>/ControladorJueces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCasos</servlet-name>
        <url-pattern>/ControladorCasos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificaciones</servlet-name>
        <url-pattern>/ControladorModificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificacionesSucursales</servlet-name>
        <url-pattern>/ControladorModificacionesSucursales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificacionesContratos</servlet-name>
        <url-pattern>/ControladorModificacionesContratos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificacionesDetenidos</servlet-name>
        <url-pattern>/ControladorModificacionesDetenidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificacionesJueces</servlet-name>
        <url-pattern>/ControladorModificacionesJueces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificacionesCasos</servlet-name>
        <url-pattern>/ControladorModificacionesCasos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificacionesUsuarios</servlet-name>
        <url-pattern>/ControladorModificacionesUsuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
